.search-temperature {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 15px;
}
.search-input {
  color: rgba(255, 255, 255);
  opacity: 1;
  padding: 13px 18px;
  width: 60%;
  border-radius: 5px;
  margin: 20px 10px;
  border: none;
  font-size: 16px;
  padding: 18px;
}
.search-button {
  border-radius: 5px;
  padding: 13px 18px;
  border: none;
  font-size: 15px;
  margin: 20px;
}
h1 {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-family: "Karla", sans-serif;
  font-weight: 300;
}
h2 {
  display: flex;
  justify-content: center;
  font-weight: 200;
}
.time {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255, 0.5);
}
.humidity {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255, 0.5);
}
footer {
  color: rgb(255, 255, 255, 0.5);
  text-align: center;

  margin-top: 100%;
  padding: 20px;
}
.weather-app {
  background: linear-gradient(
    179.4deg,
    rgb(12, 20, 69) -16.9%,
    rgb(112, 26, 98) 119.9%
  );
  color: white;
}
