.search-temperature {
  display: flex;
  justify-content: center;
}
.search-input {
  background-color: rgb(255, 255, 255, 0.2);
  color: white;
  padding: 10px 20px;
  width: 60%;
  border-radius: 5px;
  margin: 20px 10px;
  border: none;
  font-size: 14px;
  padding: 18px;
}
.search-button {
  background-color: rgb(255, 255, 255, 0.2);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  font-size: 14px;
  margin: 20px 10px;
  cursor: pointer;
}

h1 {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin-top: 0;
  margin-bottom: 0;
}
.icon {
  display: block;
  margin: 0 auto;
  width: 150px;
}

h2 {
  color: rgb(113, 3, 147);
  display: flex;
  justify-content: center;
  font-weight: 300;
  margin-bottom: 18px;
}
.first-line {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0, 0.5);
  line-height: 30px;
  font-size: 16px;
}
.second-line {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0, 0.5);
  line-height: 25px;
  font-size: 16px;
}
footer {
  color: rgb(0, 0, 0, 0.5);
  text-align: center;

  margin-top: 25%;
  padding: 20px;
}
.weather-app {
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
  width: 80%;
  display: block;
  margin: 20px auto;
}
a {
  color: rgb(113, 3, 147);
}
strong {
  color: rgb(113, 3, 147);
}
.weather-forecast {
  display: flex;
}
.forcast-date {
  color: rgb(0, 0, 0, 0.5);
  text-align: center;
}
.forecast-icon {
  text-align: center;
}
.forecast-temperature {
  display: flex;
  justify-content: center;
  color: rgb(113, 3, 147);
}
.max-temperature {
  padding: 10px;
  font-weight: 900;
}
.min-temperature {
  padding: 10px;
  opacity: 0.6;
}
